

 header{
     text-align:center;
     border: 20px double crimson;
     border-radius:65px;S
     padding: 20px;
     
 }
 h1{
    font-size: 105px;
    margin-bottom: 0px;
 }
 body{
     background-color:bisque;
 }
 p
 {
font-size: 24px;
 }